*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: rgb(31, 27, 27) ;
    color:white;
}
.bg{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4 )), url(images/video.gif);
    width: 100%;
    height: 100vh;
    background-size: cover;
    border-radius: 100% 0 0 5%;
}
.container{
    padding: 10px 10px 0 10px;
    background-color: rgba(17, 17, 17, 0.808);
    position: relative;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-right: 60px;
}
.logo{
    width: 120px;padding: 10px 10px 0 10px;
    height: 55px;
    margin-left: 25px;
}
nav ul li{
    list-style: none ;
    display: inline-block;
    margin: 10px 28px 0px 28px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    position: relative;
}
nav ul li a::after{
    content: '';
    height: 3px;
    background: #3518A0;
    position: absolute;
    left: 0;
    bottom: -3px;
    transition: 0.9s;
}
nav ul li a:hover::after{
    width: 100%;
}
/* ------------------555555555----------- */
/* nav ul li a {
    background-color: #fa9623;
    color: #000000;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 39%;
    font-weight: 600;
    font-size: 15px;
    margin-top: 12px;

} */

/* nav ul li a::hover {
    background-color: rgb(25, 124, 25);
    color: black;
} */
/* ------------------555555555----------- */
.header-text h1 {
    font-size:60px;
    margin-left: 40px;
    padding-top: 3%;
}
.header-text h1 span{
 color:#3518A0;
}
/* -----------resume-------  */
#body{
    background:rgb(39, 33, 33);
}
.resume{
    width: 60%;
    margin: 0px 20% 10px 20% ;
}
.container3{
    padding: 10px 10px 0 10px;
    background-color:rgba(63, 62, 62, 0.808);
    
}
#resume ul li a {
    text-decoration: none;
    color: black    ;
    font-size: 20px;
    position: relative;
    background-color: aliceblue;
    border-radius: 3px;
    padding: 3px;
}
.btn{
    display: flex; 
    align-items: center ;
    justify-content: space-around;
    margin-bottom: 20px;
}
#download{
    padding: 10px 40px;
    font-size: 18px; 
    border-radius: 20px;
    outline: 0;
    border: 0;
    background-color: black;
    color: white;
    text-decoration: none;
    
}
/* ------about------------------ */
#about{
    background: rgb(58, 57, 57);
    border-radius: 0 0 50px 50px;
}
.container2{
    padding: 10px 10px 0 10px;
}
#about{
    padding: 80px 0 ;
    color:#fadacc;
}
.row{
    display: flex;
    justify-content:space-between ;
    flex-wrap: wrap;
}
.column1{
    flex-basis: 35%;
    margin-left: 30px;
    margin-left: 20px;
}
.column1 img{ 
    width: 80%;
    border-radius: 30px;
    margin-left: 20px;
    background: black ;
    padding: 10px 0 0 10px;
}
.column2{
    flex-basis: 60%;
    margin-right: 30px;
}
.sub-title{
    font-size:40px;
    font-weight: 650;
    color: white;
}
.sub-title span{
    color: #176fb3;
}
.column2 p{
    font-size: 35px;
    margin-top: 100px;
}
/* --------------contact------- */
.cont{
    padding: 50px 10px 0 10px;
    background-color: rgb(248, 116, 67);
    border-radius: 0px   0px 100px 0;
}
.contact-left{
    width: 30%;
    margin:-4% 0 0 5%;
}
.sub-title2{
    font-size: 62px;
    font-weight:600;
    color: aliceblue;
    margin-bottom:16px ;
}
.contact-left p{
    font-size: 20px;
    color:wheat;
}
.social-icons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: -20px;
    margin-top: 20px;
}
.chat-container {
    padding: 70px 20px 20px 20px;
    width: 70%;
    height: 90vh;
    margin: 0 10% 20px 10%;
    background-color: #000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 43% 0 43% 0;
    outline: 2px solid #fa9623;
}
form {
    display: grid;
    gap: 15px;
}

.form-group {
    display: grid;
    gap: 10px;
    display: flexbox;
    justify-content: center;

}

label {
    font-weight: 700;
}

input[type="text"],
input[type="email"],
textarea {
    padding: 10px;
    border-radius: 5px;
    border: 0;
    outline: 0;
    
}

.buttonn {
    background-color: #fa9623;
    color: #000000;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    width: 130px;
    height: 40px;
    margin-left: 39%;
    font-weight: 800;
    font-size: 15px;
    margin-top: 12px;

}

.buttonn:hover {
    background-color: rgb(25, 124, 25);
    color: black;
}
#row{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}
#name{
    width: 400px;
    margin-left: 45px;
}
#email,#message,#occupation{
    width: 450px;
}
#message{
    border-radius: 0 0 50px 0px;
    height: 120px;
}